// ==========================================================================
// Navbar Styles
// ==========================================================================

.navbar {
  height: 70px;
  background-color: transparent;
  background: transparent;
  border: none;
  color: $color-light;
  z-index: 100;
  margin-bottom: 0;
  border-radius: 0;
  transition: background-color 1s ease 0s;
}

.navbar-default {
  
  .navbar-brand {
    // display: none; - unncomment if using transition navbar
    margin-top: 10px;
    color: $color-light;
    font-weight: $font-weight--medium;

      &:hover {
        color: $color-secondary;
      }

      &:focus {
        color: $color-light;
      }
  }

  .navbar-nav {
    
    > li {
      
      > a {
        color: $color-light;
        font-weight: 500;
        font-size: 1em;
        text-transform: lowercase;
        margin: 10px 5px 5px 5px;
        border-radius: $br--default;
      }
      > a:hover, > a:active, > a:focus {
        color: $color-light;
        border: 1px solid $color-light;
      }
      > a:visited {
        color: $color-light;
        text-decoration: none;
      }

    } //end li

    > .active {

      > a, > a:hover, > a:focus {
        background-color: transparent;
        color: $color-light;
      }

    }

  } //end .navbar-nav

  //Collapsed styles
  .navbar-toggle {
    border-color: $color-light;

      &:hover, &:focus {
        background-color: $color-shadow;
      }



      .icon-bar {
        color: $color-light;
        background-color: $color-light;

      }
  }

  .navbar-collapse.collapse.in ul {
    background-color: $color-shadow;
  }
    
} //end .navbar-default


// Transition Navbar Styles
/* .solid class attached on scroll past first section */

// .navbar.solid {
//   background-color: $color-secondary;
//   transition: background-color 1s ease 0s;
//   box-shadow: 0 0 4px $color-shadow;

//     .navbar-brand {
//       display: inline-block;
//       color: $color-light;
//       transition: color 1s ease 0s;
//     }

//     .navbar-nav {

//        > li {

//           > a {
//             color: $color-light;
//             transition: color 1s ease 0s;
//           }

//        } //end li

//     } //end .navbar-nav

// }




