// ==========================================================================
// Button Styles
// ==========================================================================

//Modal Buttons
#cityName {
	background-color: $color-primary;
	color: $color-light;
	border-color: $color-primary;

	&:hover {
		background-color: $color-light;
		color: $color-primary;

	}
}

.btn-secondary {
	background-color: $color-secondary;
	color: $color-light;
	border-color: $color-secondary;

	&:hover {
		background-color: $color-light;
		color: $color-secondary;

	}
}